*{
    font-family: "inter";
    margin: 0px;  
}
#menusuperior{
    background-color: #303030;
    padding: 50px 0px 60px 30px;
}
#titulo-superior{
    color: #ffffff;
    margin-left: 5px;
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bold;
    
}
#texto-superior{
    color: #ffffff;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 65px;
}
#Informacoes{
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 70px;
}
.titulo-info{
    text-align: center;
    padding-right: 40px;
}
.conteudo-info{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}
#apresentacao{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 150px;
}
#titulo-apresentacao{
    margin-bottom: 50px;
    margin-top: 200px;
}
#formulario{
    background-color: #303030;
    text-align: center;
}
#titulo-form{
    color: #ffffff;
    padding: 50px;
}
input{
    width: 508px;
    height: 72px;
    background-color: #ffffff;
    margin: 30px;
    border: 0px;
    border-radius: 8px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: larger;
    font-family: "Raleway";
    color: #0000004D;

}
button{
        width: 286px;
        height: 74px;
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 50px;
        background-color: #C07212;
        border: 0px;
        border-radius: 10px;
        color: #ffff;
        font-size: x-large;
        font-family: "Raleway";
        font-weight: bold;
        cursor: pointer;
    }
button:hover{
    background-color: #C07212;
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px #88531370;
    transition-duration: 0.8s;
    color: #ffffff;
}
       
    

